@import '../../style/variables';
#nav {
	background: $navBgColor;
	width: $navBarWidth;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	box-shadow: 1px 0px 1px 0px #666;
	.logo {
		display: inline-block;
	}
}