$dtTitleFont: normal 40px "Microsoft Yahei";
$dtTitleColor: #333;
$dtInfoFont: 14px "Microsoft Yahei";
$dtInfoColor: #999;
$authorColor: #3699dc;
$authorHoverColor: #1d70a8;
$dtContentColor: #555;
$dtContentFont: 16px "Microsoft Yahei";
.article-header {
	padding: 50px 0 20px 0;
	text-align: center;
}

.article-dt-title {
	margin: 0 0 15px 0;
	padding: 0;
	font: $dtTitleFont;
	color: $dtTitleColor;
}

.article-dt-info {
	margin: 0;
	padding: 0;
	font: $dtInfoFont;
	color: $dtInfoColor;
}

.article-dt-author, .article-dt-date {
	color: $authorColor;
	cursor: pointer;
	&:hover {
		color: $authorHoverColor;
	}
}

.article-dt-content {
	color: $dtContentColor;
	font: $dtContentFont;
	a {
		color: #08c;
		transition: color 0.3s ease;
		&:hover {
			color: #5BA4E5;
			border-bottom: 2px solid #5BA4E5;
		}
	}
	blockquote {
		margin: 10px 0;
		padding: 10px 15px;
		border-left: 10px solid #D6DBDF;
		background: rgba(102, 128, 153, .05);
		ul, ol, dl {
			margin: 0;
			padding-left: 30px;
		}
	}
	pre {
		background: rgba(102, 128, 153, 0.05);
		border-left: 20px solid #ECEEED;
		padding: 10px 20px;
		max-height: 700px;
		overflow: auto;
	}
	table {
		width: 94%;
		margin-left: 3%;
		border-collapse: collapse;
	}
	table, td, th {
		border: 1px solid rgb(221, 221, 221);
	}
	td, th {
		padding: 8px;
	}
	tbody>tr:nth-child(odd)>td {
		background: rgba(102, 128, 153, .05);
	}
	tbody>tr:hover {
		td {
			background: rgba(102, 128, 153, .2);
		}
	}
	h1, h2, h3, h4, h5, h6, p {
		margin: 20px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #444;
	}
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 22px;
	}
	h4, h5, h6 {
		font-size: 18px;
	}
}