<div class="write-detail">
	<form action="#" method="GET">
		<div class="write-item">
			<label for="post-title" class="write-label">Title:</label>
			<input type="text" v-model="title" name="title" class="write-input" id="post-title">
		</div>
		<div class="write-item">
			<label for="post-author" class="write-label">Author:</label>
			<input type="text" v-model="author" name="author" class="write-input" id="post-author">
		</div>
		<div class="write-item">
			<label for="post-tags" class="write-label">Tags:</label>
			<input type="text" v-model="tagsStr" name="tags" class="write-input" id="post-tags"
					placeholder="用逗号分隔，如：Linux,Node">
			<dropdown :items="dropDownItems" :current-item="currentItem"></dropdown>
		</div>
	</form>
	<div class="markdown-editor">
		<div class="mkd-edt">
			<textarea name="articleContent" id="simplemde-editor"></textarea>
		</div>
		<div class="mkd-preview">
			<h1 id="preview-title">Preview</h1>
			<div class="mkd-content">
				{{{renderedContent}}}
			</div>
		</div>
	</div>
</div>