<div class="login-form">
	<form id="lg-form" action="/authorize" method="post" autocomplete="off">
		<fieldset>
			<legend>用户登录</legend>
			<div class="form-row first-row">
				<label for="username">用户名</label>
				<input type="text" id="username" name="username" maxlength="16" autocomplete="off"
						placeholder="请输入用户名">
			</div>
			<div class="form-row">
				<label for="password">密码</label>
				<input type="password" id="password" name="password" maxlength="16" autocomplete="off"
						placeholder="请输入密码">
			</div>
			<div class="form-row">
				<label for="captcha">验证码</label>
				<div class="form-captcha btcf">
					<input type="text" id="captcha" name="captcha" axlength="8" autocomplete="off" placeholder="请输入验证码">
					<img id="captcha-img" src="/captcha" width="76" height="38" alt="点击刷新">
				</div>
			</div>
			<div class="form-row submit">
				<button id="btn-login" type="submit">Login</button>
			</div>
		</fieldset>
	</form>
</div>